# **Welcome to week 2 project!**

Congratulations on making it to week 2! üëè In the first week of this course, we covered the basics of how to design personalized recommendation systems. We then provided some system design examples for large scale recommenders from corporations like Spotify and YouTube, as well as techniques for candidate generation, specifically the two-tower model being used at Twitter and Pinterest.

This week, we covered details of ML approaches for recommendations: including multi-task recommenders and contextual bandits.

In this week's project, we will touch upon both these methods at a high level. We first begin by developing a simple multi-task model, and then cover a contextual bandit model. For ease of use, we will re-use our H&M dataset from week 1 for Multi-task model, and will switch to using Yahoo! news dataset for contextual bandit model.

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!pip install -q tensorflow-recommenders
!pip install -q --upgrade tensorflow-datasets
!pip install -q scann

     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 88 kB 3.7 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 511.7 MB 4.6 kB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 5.8 MB 78.4 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 438 kB 88.5 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1.6 MB 76.8 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4.3 MB 5.1 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 11.2 MB 5.1 MB/s

# **Multi-task Recommendations**

Multi-task recommenders provide a way to predict multiple facets of user engagement in order to make comprehensive recommendations for content that users might like.

In [ ]:
from IPython.core.display import Image, display
display(Image(url='https://miro.medium.com/max/3688/1*rrIJOpJO8fkFECNHlwq-jQ.png', width=500, unconfined=True))


**Single task recommender:** we will start by deveoping a single task model that makes predictions about whether the user will purchase the article or not.

**Multi-task recommender:** we then expand the scope to consider auxilliary prediction tasks, in order to improve the recommendation performance.

Specifically, we make the folliwing three predictions using a multi-task setup:
1. Predicting whether the user will make any purchase next week or not
2. Predicting which category the user will make purchase in
3. Predicting which specific item the user will buy

We will use different loss functions to jointly train the multi-task network.

**Negative Sampling**
It is important to note that the dataset is only of positive cases -- cases wherein the user bought an article. To train our models, we will have to resort to negative sampling to develop a mixed dataset comprising of positive and negative examples.

We will cover two categories of negative sampling:
1. Random negative sampling
2. Negative sampling with bias

**Evaluation:**
We will evaluate the ranker performance on various ranking metrics.

In [3]:
import pandas as pd
import numpy as np
import tensorflow as tf
import tensorflow_recommenders as tfrs
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from tqdm.notebook import tqdm
from pathlib import Path
from typing import Dict, Text
from functools import reduce
import os
import pprint
import tempfile
from typing import Dict, Text
import numpy as np
import tensorflow as tf
import tensorflow_recommenders as tfrs
from tensorflow import feature_column
import random

In [4]:
pd.set_option("display.max_columns", None)

In [8]:
article_df = pd.read_csv("/content/drive/MyDrive/hmdata/articles.csv.zip")
customer_df = pd.read_csv("/content/drive/MyDrive/hmdata/customers.csv.zip")
train0 = pd.read_csv('/content/drive/MyDrive/hmdata/transactions_train.csv.zip')
transaction_df = train0

# **Simple Feature Processing**

In this section we focus on extracting features for trainnig the ranking models. We focus primarily on extracting user features, and article features, and leave sophisticated feature modelin for next week.

For users specifically, we will focus on extracting the following features:
1. age bucket
2. no of past purchases
3. min/max/avg price
4. distrbution over product group
5. distrbution over section

For aticles, we will learn embedding based features for the article category, product group, and department.

In [9]:
unique_customer_ids = customer_df.customer_id.unique()
unique_article_ids = article_df.article_id.unique()

In [10]:
subset = train0[train0["t_dat"]>"2020-06-01"]
print(len(train0),len(subset))

31788324 5108386

In [ ]:
subset.head(5)

,t_dat,customer_id,article_id,price,sales_channel_id
26679938,2020-06-02,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,855834001,0.015831,1
26679939,2020-06-02,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,836130002,0.015831,1
26679940,2020-06-02,0015f16aa2702e2ec13d2e38052f496b9b915d3c64e82c...,832453006,0.016932,1
26679941,2020-06-02,0015f16aa2702e2ec13d2e38052f496b9b915d3c64e82c...,841260011,0.016932,1
26679942,2020-06-02,001ef7c503e5407b6b836351b0415d3a226c587d4fb17b...,822946002,0.026797,2

In [ ]:
print(train0.t_dat.min())
print(subset.t_dat.max())

2018-09-20
2020-09-22

In [11]:
def split(x):
    if x["t_dat"]<"2020-08-22":
        return 1
    return 0
subset["train"] = subset.apply (lambda row: split(row), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
article_df.head(5)

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,perceived_colour_value_id,perceived_colour_value_name,perceived_colour_master_id,perceived_colour_master_name,department_no,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,4,Dark,5,Black,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,3,Light,9,White,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,1,Dusty Light,9,White,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,4,Dark,5,Black,1339,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,3,Light,9,White,1339,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [ ]:
subset.head(5)

,t_dat,customer_id,article_id,price,sales_channel_id,train
26679938,2020-06-02,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,855834001,0.015831,1,1
26679939,2020-06-02,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,836130002,0.015831,1,1
26679940,2020-06-02,0015f16aa2702e2ec13d2e38052f496b9b915d3c64e82c...,832453006,0.016932,1,1
26679941,2020-06-02,0015f16aa2702e2ec13d2e38052f496b9b915d3c64e82c...,841260011,0.016932,1,1
26679942,2020-06-02,001ef7c503e5407b6b836351b0415d3a226c587d4fb17b...,822946002,0.026797,2,1

In [12]:
joined = pd.merge(subset, article_df, on='article_id', how='outer')

In [15]:
f1 = joined.groupby("customer_id", as_index=False).article_id.nunique() #unique articles
f2 = joined.groupby("customer_id", as_index=False).t_dat.nunique() #days active
f3 = joined.groupby("customer_id", as_index=False).size() #total purchases
f4 = joined.groupby("customer_id", as_index=False).price.min() #min price
f5 = joined.groupby("customer_id", as_index=False).price.max() #max price
f6 = joined.groupby("customer_id", as_index=False).price.mean() #mean price
f7 = joined.groupby("customer_id", as_index=False).product_group_name.nunique() #num unique product groups
f8 = joined.groupby("customer_id", as_index=False).department_name.nunique() #num unique department_name
f9 = joined.groupby("customer_id", as_index=False).section_name.nunique() #num unique section_name

In [16]:
data_frames = [f1,f2,f3,f4,f5,f6,f7,f8,f9]
fAll = reduce(lambda  left,right: pd.merge(left,right,on=['customer_id'],
                                            how='outer'), data_frames)
fAll.columns = ['customer_id', 'nArticles', 'nDays', 'nPurchases', 'minPrice', 'maxPrice', 'meanPrice', 'nPGroups', 'nDept', 'nSect']

In [ ]:
joined.head(5)

,t_dat,customer_id,article_id,price,sales_channel_id,train,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,perceived_colour_value_id,perceived_colour_value_name,perceived_colour_master_id,perceived_colour_master_name,department_no,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,2020-06-02,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,855834001,0.015831,1.0,1.0,855834,Victoria dress,265,Dress,Garment Full body,1010001,All over pattern,9,Black,4,Dark,5,Black,1344,Dresses,D,Divided,2,Divided,53,Divided Collection,1013,Dresses Ladies,"Short dress in an airy weave with a deep, flou..."
1,2020-06-03,217f63837efad89b850ccfae747b99a61cd292bb172e95...,855834001,0.015831,1.0,1.0,855834,Victoria dress,265,Dress,Garment Full body,1010001,All over pattern,9,Black,4,Dark,5,Black,1344,Dresses,D,Divided,2,Divided,53,Divided Collection,1013,Dresses Ladies,"Short dress in an airy weave with a deep, flou..."
2,2020-06-03,57e0a4f943cdc51f739aa4c18b12f8c607ec460fe6467e...,855834001,0.015831,1.0,1.0,855834,Victoria dress,265,Dress,Garment Full body,1010001,All over pattern,9,Black,4,Dark,5,Black,1344,Dresses,D,Divided,2,Divided,53,Divided Collection,1013,Dresses Ladies,"Short dress in an airy weave with a deep, flou..."
3,2020-06-03,59a36234a4eeed5aac1c1209d6f4d989eec7ffcf2a0138...,855834001,0.015831,1.0,1.0,855834,Victoria dress,265,Dress,Garment Full body,1010001,All over pattern,9,Black,4,Dark,5,Black,1344,Dresses,D,Divided,2,Divided,53,Divided Collection,1013,Dresses Ladies,"Short dress in an airy weave with a deep, flou..."
4,2020-06-03,991c3ebb60054ef0b9a39a7549245ea8c509d7a0a68458...,855834001,0.015831,1.0,1.0,855834,Victoria dress,265,Dress,Garment Full body,1010001,All over pattern,9,Black,4,Dark,5,Black,1344,Dresses,D,Divided,2,Divided,53,Divided Collection,1013,Dresses Ladies,"Short dress in an airy weave with a deep, flou..."

In [17]:
joinedF = pd.merge(joined, fAll, on='customer_id', how='outer')

In [18]:
print(list(joinedF))

['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id', 'train', 'product_code', 'prod_name', 'product_type_no', 'product_type_name', 'product_group_name', 'graphical_appearance_no', 'graphical_appearance_name', 'colour_group_code', 'colour_group_name', 'perceived_colour_value_id', 'perceived_colour_value_name', 'perceived_colour_master_id', 'perceived_colour_master_name', 'department_no', 'department_name', 'index_code', 'index_name', 'index_group_no', 'index_group_name', 'section_no', 'section_name', 'garment_group_no', 'garment_group_name', 'detail_desc', 'nArticles', 'nDays', 'nPurchases', 'minPrice', 'maxPrice', 'meanPrice', 'nPGroups', 'nDept', 'nSect']

In [19]:
joinedF['customer_id'][0]

'0001f8cef6b9702d54abf66fd89eb21014bf98567065a9b5e42f37bc99528cf5'

In [20]:
joinedF[joinedF['customer_id'] == '0001f8cef6b9702d54abf66fd89eb21014bf98567065a9b5e42f37bc99528cf5']

,t_dat,customer_id,article_id,price,sales_channel_id,train,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,perceived_colour_value_id,perceived_colour_value_name,perceived_colour_master_id,perceived_colour_master_name,department_no,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc,nArticles,nDays,nPurchases,minPrice,maxPrice,meanPrice,nPGroups,nDept,nSect
0,2020-06-02,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,855834001,0.015831,1.0,1.0,855834,Victoria dress,265,Dress,Garment Full body,1010001,All over pattern,9,Black,4,Dark,5,Black,1344,Dresses,D,Divided,2,Divided,53,Divided Collection,1013,Dresses Ladies,"Short dress in an airy weave with a deep, flou...",6.0,4.0,6.0,0.010153,0.027102,0.01713,3.0,5.0,3.0
1,2020-06-02,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,836130002,0.015831,1.0,1.0,836130,Charlotte A-line dress,265,Dress,Garment Full body,1010001,All over pattern,9,Black,4,Dark,5,Black,1344,Dresses,D,Divided,2,Divided,53,Divided Collection,1013,Dresses Ladies,"Short dress in chiffon with a V-neck, seam wit...",6.0,4.0,6.0,0.010153,0.027102,0.01713,3.0,5.0,3.0
2,2020-08-03,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,808841001,0.016932,1.0,1.0,808841,CLEMENTINE MAXI SKIRT,275,Skirt,Garment Lower body,1010016,Solid,9,Black,4,Dark,5,Black,1444,Skirts,D,Divided,2,Divided,53,Divided Collection,1012,Skirts,Knee-length wrapover skirt in a cr√™pe weave wi...,6.0,4.0,6.0,0.010153,0.027102,0.01713,3.0,5.0,3.0
3,2020-08-07,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,817472002,0.010153,1.0,1.0,817472,Kelso,274,Shorts,Garment Lower body,1010001,All over pattern,12,Light Beige,1,Dusty Light,11,Beige,1723,Shorts,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1025,Shorts,Shorts in a softly draping viscose weave. High...,6.0,4.0,6.0,0.010153,0.027102,0.01713,3.0,5.0,3.0
4,2020-08-03,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,806529003,0.027102,1.0,1.0,806529,Selena shorts,274,Shorts,Garment Lower body,1010016,Solid,9,Black,4,Dark,5,Black,1717,Trouser,A,Ladieswear,1,Ladieswear,11,Womens Tailoring,1009,Trousers,Shorts in woven fabric. High waist with belt l...,6.0,4.0,6.0,0.010153,0.027102,0.01713,3.0,5.0,3.0
5,2020-09-02,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,820671001,0.016932,1.0,0.0,820671,Carmen top,254,Top,Garment Upper body,1010016,Solid,9,Black,4,Dark,5,Black,1636,Jersey fancy,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1005,Jersey Fancy,"Top in jersey with a sheen. The top has short,...",6.0,4.0,6.0,0.010153,0.027102,0.01713,3.0,5.0,3.0

In [22]:
columns = ['customer_id','article_id',
           'price',
          'product_group_name', 'department_name',
             'section_name',
             'nArticles',
             'nDays',
             'nPurchases',
             'minPrice',
             'maxPrice',
             'meanPrice',
             'nPGroups',
             'nDept',
             'nSect']
trainF = joinedF[columns][~joinedF["customer_id"].isna()]
trainF

,customer_id,article_id,price,product_group_name,department_name,section_name,nArticles,nDays,nPurchases,minPrice,maxPrice,meanPrice,nPGroups,nDept,nSect
0,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,855834001,0.015831,Garment Full body,Dresses,Divided Collection,6.0,4.0,6.0,0.010153,0.027102,0.017130,3.0,5.0,3.0
1,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,836130002,0.015831,Garment Full body,Dresses,Divided Collection,6.0,4.0,6.0,0.010153,0.027102,0.017130,3.0,5.0,3.0
2,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,808841001,0.016932,Garment Lower body,Skirts,Divided Collection,6.0,4.0,6.0,0.010153,0.027102,0.017130,3.0,5.0,3.0
3,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,817472002,0.010153,Garment Lower body,Shorts,Womens Everyday Collection,6.0,4.0,6.0,0.010153,0.027102,0.017130,3.0,5.0,3.0
4,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,806529003,0.027102,Garment Lower body,Trouser,Womens Tailoring,6.0,4.0,6.0,0.010153,0.027102,0.017130,3.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5108381,b834a2cb440d2298493d254196abb73e101d8b35b155c6...,870982002,0.061000,Garment Upper body,Outdoor/Blazers,Divided Collection,1.0,1.0,1.0,0.061000,0.061000,0.061000,1.0,1.0,1.0
5108382,83b8a97fd3decf8e21d05a9acaea822eaa569c957ea232...,893427001,0.084729,Garment Full body,Trouser,Womens Everyday Collection,2.0,1.0,3.0,0.084729,0.084729,0.084729,1.0,2.0,2.0
5108383,83b8a97fd3decf8e21d05a9acaea822eaa569c957ea232...,893427001,0.084729,Garment Full body,Trouser,Womens Everyday Collection,2.0,1.0,3.0,0.084729,0.084729,0.084729,1.0,2.0,2.0
5108384,83b8a97fd3decf8e21d05a9acaea822eaa569c957ea232...,903910002,0.084729,Garment Full body,Dress,Womens Tailoring,2.0,1.0,3.0,0.084729,0.084729,0.084729,1.0,2.0,2.0
5108385,b9036ca1353cd6d07511e309f8acab557559b724a36419...,910010002,0.050831,Garment Upper body,Tops Knitwear,Divided Collection,1.0,1.0,1.0,0.050831,0.050831,0.050831,1.0,1.0,1.0

# Negative Sampling for training ranker

If you notice the dataset, we only have purchase information. This is generallyt he case -- we often only observe positive interactions from users. However, to train a model, we would need access to positive and negative samples both.

To generate negative sampled, here we focus on random sampling of negative examples per user-artice transaction. Other methods exist to sample negatives, namely:
1. Random sampling
2. Biased sampling from similar categories
3. Cross-batch negative sampling

In this project, we will go ahead with the random sampling strategy.

In [23]:
tt = trainF.groupby("customer_id", as_index=False).article_id.agg(['unique']).reset_index()
tt.columns = ['customer_id', 'article_list']

In [24]:
tt

,customer_id,article_list
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,[568601043]
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,[826211002]
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,[794321007]
3,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,"[827971001, 589440005, 818320001, 730683050, 9..."
4,0000757967448a6cb83efb3ea7a3fb9d418ac7adf2379d...,"[448509014, 719530003]"
...,...,...
596584,ffff8f9ecdce722b5bab97fff68a6d1866492209bfe524...,"[889679001, 863001002, 859845001]"
596585,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,"[684209019, 599580046, 822311009, 791587007, 8..."
596586,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,"[853654002, 685816044, 805370005, 759871030, 6..."
596587,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,"[636323002, 795975009, 884081001, 689365050, 5..."
596588,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,[882810001]

In [25]:
articlesSet = list(trainF.article_id.unique())

In [26]:
print(len(articlesSet))
tt.columns = ['customer_id', 'article_list']
print(list(tt))

45892
['customer_id', 'article_list']

In [27]:
def generate_negative_samples(train_df, article_list, num_neg=1):
    negData = []
    for index, row in train_df.iterrows():
        allList = article_list
        cust = row['customer_id']
        art_list = row['article_list']
        allList = list(set(allList) - set(art_list))
        negs = random.sample(allList, num_neg)
        for n in negs:
            negData.append([cust,n])
    negDf = pd.DataFrame(negData,columns=['customer_id','article_id'])
    return negDf

In [28]:
negDf = generate_negative_samples(tt.head(40000),articlesSet,2)
negDf

                                             customer_id  article_id
0      00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...   852809001
1      00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...   807891004
2      0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...   810724002
3      0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...   842319001
4      000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   765362009
...                                                  ...         ...
79995  11297a0414218c18ab7109376c63c7d8f093b49bbd254d...   896195001
79996  1129a321da62de7224393a06c477b851d0581636f7b9e7...   406724001
79997  1129a321da62de7224393a06c477b851d0581636f7b9e7...   708308004
79998  112a04b065c314ab86a3536a3d31c267f88200435cbe75...   872013002
79999  112a04b065c314ab86a3536a3d31c267f88200435cbe75...   876680001

[80000 rows x 2 columns]

In [29]:
test_negDf = generate_negative_samples(tt.tail(10000),articlesSet,2)
test_negDf

                                             customer_id  article_id
0      fbbbf1b5f25300bfe34c47623ded94d659b74898bf2b56...   770794001
1      fbbbf1b5f25300bfe34c47623ded94d659b74898bf2b56...   696991015
2      fbbbfb786c319dda49f16975698cb39ba8df46d6789255...   554450019
3      fbbbfb786c319dda49f16975698cb39ba8df46d6789255...   757575001
4      fbbc2ab0cd29cca1dcd73284f2caacf43aea996c1baf72...   743530037
...                                                  ...         ...
19995  ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...   746087001
19996  ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...   765517001
19997  ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...   835704011
19998  ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...   794321003
19999  ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...   909924004

[20000 rows x 2 columns]

### We next generate features for negatives

In [30]:
joinedFN = pd.merge(negDf, article_df[['article_id','product_group_name', 'department_name','section_name']], on='article_id', how='left')
joinedFN = pd.merge(joinedFN, fAll, on='customer_id', how='left')
joinedFN

,customer_id,article_id,product_group_name,department_name,section_name,nArticles,nDays,nPurchases,minPrice,maxPrice,meanPrice,nPGroups,nDept,nSect
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,852809001,Garment Full body,Woven Tops,Mama,1,1,1,0.050831,0.050831,0.050831,1,1,1
1,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,807891004,Shoes,Kids Girl Shoes,Kids & Baby Shoes,1,1,1,0.050831,0.050831,0.050831,1,1,1
2,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,810724002,Shoes,Boots,Womens Shoes,1,1,1,0.027102,0.027102,0.027102,1,1,1
3,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,842319001,Accessories,Bags,Divided Accessories,1,1,1,0.027102,0.027102,0.027102,1,1,1
4,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,765362009,Garment Upper body,Knitwear,Contemporary Casual,1,1,1,0.061000,0.061000,0.061000,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,11297a0414218c18ab7109376c63c7d8f093b49bbd254d...,896195001,Garment Upper body,Baby Exclusive,Baby Essentials & Complements,2,1,2,0.008458,0.033881,0.021169,1,1,1
79996,1129a321da62de7224393a06c477b851d0581636f7b9e7...,406724001,Accessories,Small Accessories,Men Accessories,3,2,3,0.005068,0.022017,0.016367,3,3,3
79997,1129a321da62de7224393a06c477b851d0581636f7b9e7...,708308004,Garment Upper body,Young Boy Jersey Fancy,Young Boy,3,2,3,0.005068,0.022017,0.016367,3,3,3
79998,112a04b065c314ab86a3536a3d31c267f88200435cbe75...,872013002,Garment Upper body,Tops Woven,Divided Collection,2,1,4,0.016932,0.016932,0.016932,1,1,1
79999,112a04b065c314ab86a3536a3d31c267f88200435cbe75...,876680001,Garment Full body,Dress,Womens Everyday Collection,2,1,4,0.016932,0.016932,0.016932,1,1,1

In [31]:
test_joinedFN = pd.merge(test_negDf, article_df[['article_id','product_group_name', 'department_name','section_name']], on='article_id', how='left')
test_joinedFN = pd.merge(test_joinedFN, fAll, on='customer_id', how='left')
test_joinedFN

,customer_id,article_id,product_group_name,department_name,section_name,nArticles,nDays,nPurchases,minPrice,maxPrice,meanPrice,nPGroups,nDept,nSect
0,fbbbf1b5f25300bfe34c47623ded94d659b74898bf2b56...,770794001,Shoes,Baby Shoes,Kids & Baby Shoes,6,2,6,0.013542,0.059305,0.041791,4,3,2
1,fbbbf1b5f25300bfe34c47623ded94d659b74898bf2b56...,696991015,Garment Upper body,Kids Boy Knitwear,Kids Boy,6,2,6,0.013542,0.059305,0.041791,4,3,2
2,fbbbfb786c319dda49f16975698cb39ba8df46d6789255...,554450019,Garment Lower body,Trousers,Divided Collection,8,4,14,0.010153,0.030492,0.016569,3,5,5
3,fbbbfb786c319dda49f16975698cb39ba8df46d6789255...,757575001,Accessories,Kids Girl Big Acc,Kids Outerwear,8,4,14,0.010153,0.030492,0.016569,3,5,5
4,fbbc2ab0cd29cca1dcd73284f2caacf43aea996c1baf72...,743530037,Garment Lower body,Kids Boy Jersey Basic,Boys Underwear & Basics,4,1,4,0.010153,0.025407,0.017780,3,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,746087001,Garment Lower body,Skirts,Divided Collection,8,3,8,0.006763,0.025407,0.013119,3,6,6
19996,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,765517001,Garment Lower body,Dresses DS,Divided Selected,9,4,10,0.010017,0.025407,0.014220,3,7,6
19997,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,835704011,Underwear,Expressive Lingerie,Womens Lingerie,9,4,10,0.010017,0.025407,0.014220,3,7,6
19998,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,794321003,Garment Upper body,Ladies Sport Woven,Ladies H&M Sport,1,1,1,0.016932,0.016932,0.016932,1,1,1
19999,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,909924004,Nightwear,Loungewear,"Womens Nightwear, Socks & Tigh",1,1,1,0.016932,0.016932,0.016932,1,1,1

In [32]:
print(joinedFN.shape)
print(trainF.shape)
print(joinedF.shape)
print(negDf.shape)
print(fAll.shape)

(80000, 14)
(5108386, 15)
(5168036, 39)
(80000, 2)
(596589, 10)

In [33]:
trainF['label1']=1
joinedFN['label1']=0

In [34]:
test_joinedFN['label1'] = 0

In [35]:
data = [trainF.head(40000), joinedFN]
trainDF = pd.concat(data)

In [36]:
data = [trainF.tail(10000), test_joinedFN]
testDF = pd.concat(data)

In [37]:
data

[                                               customer_id  article_id  \
 5098386  a8a3e05ca561a142e2b1cc3f9ead90e32d98248a16ca75...   677930077
 5098387  7d7a9c5be1cd856d287abb709e10d49185fa04753e5703...   921347003
 5098388  f76061dbfc42986224d42634f99d04ae18f23b2a259e86...   921347003
 5098389  f76061dbfc42986224d42634f99d04ae18f23b2a259e86...   921347003
 5098390  f76061dbfc42986224d42634f99d04ae18f23b2a259e86...   919499010
 ...                                                    ...         ...
 5108381  b834a2cb440d2298493d254196abb73e101d8b35b155c6...   870982002
 5108382  83b8a97fd3decf8e21d05a9acaea822eaa569c957ea232...   893427001
 5108383  83b8a97fd3decf8e21d05a9acaea822eaa569c957ea232...   893427001
 5108384  83b8a97fd3decf8e21d05a9acaea822eaa569c957ea232...   903910002
 5108385  b9036ca1353cd6d07511e309f8acab557559b724a36419...   910010002

             price  product_group_name  department_name  \
 5098386  0.016932  Garment Upper body          Basic 1
 5098387  0.033881  Garment Upper body           Jersey
 5098388  0.033881  Garment Upper body           Jersey
 5098389  0.033881  Garment Upper body           Jersey
 5098390  0.033881  Garment Lower body           Jersey
 ...           ...                 ...              ...
 5108381  0.061000  Garment Upper body  Outdoor/Blazers
 5108382  0.084729   Garment Full body          Trouser
 5108383  0.084729   Garment Full body          Trouser
 5108384  0.084729   Garment Full body            Dress
 5108385  0.050831  Garment Upper body    Tops Knitwear

                        section_name  nArticles  nDays  nPurchases  minPrice  \
 5098386              Divided Basics        2.0    3.0         3.0  0.016932
 5098387               Womens Casual        1.0    1.0         1.0  0.033881
 5098388               Womens Casual        2.0    2.0         3.0  0.033881
 5098389               Womens Casual        2.0    2.0         3.0  0.033881
 5098390               Womens Casual        2.0    2.0         3.0  0.033881
 ...                             ...        ...    ...         ...       ...
 5108381          Divided Collection        1.0    1.0         1.0  0.061000
 5108382  Womens Everyday Collection        2.0    1.0         3.0  0.084729
 5108383  Womens Everyday Collection        2.0    1.0         3.0  0.084729
 5108384            Womens Tailoring        2.0    1.0         3.0  0.084729
 5108385          Divided Collection        1.0    1.0         1.0  0.050831

          maxPrice  meanPrice  nPGroups  nDept  nSect  label1
 5098386  0.033881   0.022582       1.0    2.0    2.0       1
 5098387  0.033881   0.033881       1.0    1.0    1.0       1
 5098388  0.033881   0.033881       2.0    1.0    1.0       1
 5098389  0.033881   0.033881       2.0    1.0    1.0       1
 5098390  0.033881   0.033881       2.0    1.0    1.0       1
 ...           ...        ...       ...    ...    ...     ...
 5108381  0.061000   0.061000       1.0    1.0    1.0       1
 5108382  0.084729   0.084729       1.0    2.0    2.0       1
 5108383  0.084729   0.084729       1.0    2.0    2.0       1
 5108384  0.084729   0.084729       1.0    2.0    2.0       1
 5108385  0.050831   0.050831       1.0    1.0    1.0       1

 [10000 rows x 16 columns],
                                              customer_id  article_id  \
 0      fbbbf1b5f25300bfe34c47623ded94d659b74898bf2b56...   770794001
 1      fbbbf1b5f25300bfe34c47623ded94d659b74898bf2b56...   696991015
 2      fbbbfb786c319dda49f16975698cb39ba8df46d6789255...   554450019
 3      fbbbfb786c319dda49f16975698cb39ba8df46d6789255...   757575001
 4      fbbc2ab0cd29cca1dcd73284f2caacf43aea996c1baf72...   743530037
 ...                                                  ...         ...
 19995  ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...   746087001
 19996  ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...   765517001
 19997  ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...   835704011
 19998  ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...   794321003
 19999  ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...   909924004

        product_group_name        department_name  \
 0                   Shoes             Baby Shoes
 1      Garment Upper body      Kids Boy Knitwear
 2      Garment Lower body               Trousers
 3             Accessories      Kids Girl Big Acc
 4      Garment Lower body  Kids Boy Jersey Basic
 ...                   ...                    ...
 19995  Garment Lower body                 Skirts
 19996  Garment Lower body             Dresses DS
 19997           Underwear    Expressive Lingerie
 19998  Garment Upper body     Ladies Sport Woven
 19999           Nightwear             Loungewear

                          section_name  nArticles  nDays  nPurchases  minPrice  \
 0                   Kids & Baby Shoes          6      2           6  0.013542
 1                            Kids Boy          6      2           6  0.013542
 2                  Divided Collection          8      4          14  0.010153
 3                      Kids Outerwear          8      4          14  0.010153
 4             Boys Underwear & Basics          4      1           4  0.010153
 ...                               ...        ...    ...         ...       ...
 19995              Divided Collection          8      3           8  0.006763
 19996                Divided Selected          9      4          10  0.010017
 19997                 Womens Lingerie          9      4          10  0.010017
 19998                Ladies H&M Sport          1      1           1  0.016932
 19999  Womens Nightwear, Socks & Tigh          1      1           1  0.016932

        maxPrice  meanPrice  nPGroups  nDept  nSect  label1
 0      0.059305   0.041791         4      3      2       0
 1      0.059305   0.041791         4      3      2       0
 2      0.030492   0.016569         3      5      5       0
 3      0.030492   0.016569         3      5      5       0
 4      0.025407   0.017780         3      4      4       0
 ...         ...        ...       ...    ...    ...     ...
 19995  0.025407   0.013119         3      6      6       0
 19996  0.025407   0.014220         3      7      6       0
 19997  0.025407   0.014220         3      7      6       0
 19998  0.016932   0.016932         1      1      1       0
 19999  0.016932   0.016932         1      1      1       0

 [20000 rows x 15 columns]]

In [ ]:
trainDF

,customer_id,article_id,price,product_group_name,department_name,section_name,nArticles,nDays,nPurchases,minPrice,maxPrice,meanPrice,nPGroups,nDept,nSect,label1
0,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,855834001,0.015831,Garment Full body,Dresses,Divided Collection,6.0,4.0,6.0,0.010153,0.027102,0.017130,3.0,5.0,3.0,1
1,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,836130002,0.015831,Garment Full body,Dresses,Divided Collection,6.0,4.0,6.0,0.010153,0.027102,0.017130,3.0,5.0,3.0,1
2,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,808841001,0.016932,Garment Lower body,Skirts,Divided Collection,6.0,4.0,6.0,0.010153,0.027102,0.017130,3.0,5.0,3.0,1
3,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,817472002,0.010153,Garment Lower body,Shorts,Womens Everyday Collection,6.0,4.0,6.0,0.010153,0.027102,0.017130,3.0,5.0,3.0,1
4,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,806529003,0.027102,Garment Lower body,Trouser,Womens Tailoring,6.0,4.0,6.0,0.010153,0.027102,0.017130,3.0,5.0,3.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,11297a0414218c18ab7109376c63c7d8f093b49bbd254d...,548613029,NaN,Garment Upper body,Jersey,Womens Tailoring,2.0,1.0,2.0,0.008458,0.033881,0.021169,1.0,1.0,1.0,0
79996,1129a321da62de7224393a06c477b851d0581636f7b9e7...,771338002,NaN,Garment Lower body,Skirt,Womens Everyday Collection,3.0,2.0,3.0,0.005068,0.022017,0.016367,3.0,3.0,3.0,0
79997,1129a321da62de7224393a06c477b851d0581636f7b9e7...,698276003,NaN,Swimwear,Swimwear,"Womens Swimwear, beachwear",3.0,2.0,3.0,0.005068,0.022017,0.016367,3.0,3.0,3.0,0
79998,112a04b065c314ab86a3536a3d31c267f88200435cbe75...,894599001,NaN,Garment Lower body,Young Boy Jersey Fancy,Young Boy,2.0,1.0,4.0,0.016932,0.016932,0.016932,1.0,1.0,1.0,0
79999,112a04b065c314ab86a3536a3d31c267f88200435cbe75...,876322001,NaN,Garment Upper body,Kids Girl Jersey Fancy,Kids Girl,2.0,1.0,4.0,0.016932,0.016932,0.016932,1.0,1.0,1.0,0

In [38]:
trainDF.to_pickle("trainDF.pkl")

In [39]:
print(list(trainDF))

['customer_id', 'article_id', 'price', 'product_group_name', 'department_name', 'section_name', 'nArticles', 'nDays', 'nPurchases', 'minPrice', 'maxPrice', 'meanPrice', 'nPGroups', 'nDept', 'nSect', 'label1']

## Single Task Ranker

We begin by training a single task ranker for the task of predicting whether the user will purchase a given article or not.

In [40]:

numFeatures = ['nArticles','nDays','nPurchases','minPrice','maxPrice','meanPrice','nPGroups','nDept','nSect']
catFeatures = ['product_group_name']
X1 = np.asarray(trainDF[numFeatures].values)
X2 = np.asarray(trainDF[catFeatures].values)
y1 = np.asarray(trainDF['label1'].values)

inp1 = tf.keras.Input((len(numFeatures)))
#inp2 = tf.keras.Input((len(catFeatures)),dtype='str')
#inp2 = tf.keras.Input((len(catFeatures)))

unique_article_ids = article_df.article_id.unique().astype(str)


x1 = tf.keras.layers.Dense(32, activation='relu')(inp1)
embedding_dimension=50
#xx2 = tf.keras.layers.StringLookup(vocabulary=unique_article_ids, mask_token=None)(inp2)
#xx2 = tf.keras.layers.Embedding(len(unique_article_ids) + 1, embedding_dimension)(xx2)
#xx2 = tf.keras.layers.Flatten()(xx2)
#x2 = tf.keras.layers.Dense(32, activation='relu')(xx2)

#x12 = tf.keras.layers.concatenate([x1,x2])
#out1 = tf.keras.layers.Dense(1, activation='sigmoid')(x12)
out1 = tf.keras.layers.Dense(1, activation='sigmoid')(x1)
#out2 = tf.keras.layers.Dense(2, activation='softmax')(x123)
#m = tf.keras.Model([inp,inp2,inp3], [out1,out2])
bce = tf.keras.losses.BinaryCrossentropy(from_logits=False)
metric = tf.keras.metrics.BinaryAccuracy()

m = tf.keras.Model([inp1], out1)
m.compile(loss=bce,
          optimizer='adam',
          metrics=[metric])

m.fit([X1], [y1], epochs=10, verbose=1,batch_size=1000)

#m.evaluate([X1,X2], [y1])

Epoch 1/10
120/120 [==============================] - 1s 1ms/step - loss: 1.3039 - binary_accuracy: 0.5563
Epoch 2/10
120/120 [==============================] - 0s 1ms/step - loss: 0.5028 - binary_accuracy: 0.8005
Epoch 3/10
120/120 [==============================] - 0s 1ms/step - loss: 0.4634 - binary_accuracy: 0.8065
Epoch 4/10
120/120 [==============================] - 0s 2ms/step - loss: 0.4426 - binary_accuracy: 0.8097
Epoch 5/10
120/120 [==============================] - 0s 2ms/step - loss: 0.4298 - binary_accuracy: 0.8123
Epoch 6/10
120/120 [==============================] - 0s 1ms/step - loss: 0.4216 - binary_accuracy: 0.8144
Epoch 7/10
120/120 [==============================] - 0s 1ms/step - loss: 0.4160 - binary_accuracy: 0.8152
Epoch 8/10
120/120 [==============================] - 0s 1ms/step - loss: 0.4132 - binary_accuracy: 0.8151
Epoch 9/10
120/120 [==============================] - 0s 1ms/step - loss: 0.4111 - binary_accuracy: 0.8154
Epoch 10/10
120/120 [==============================] - 0s 1ms/step - loss: 0.4098 - binary_accuracy: 0.8158

In [41]:
m.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 9)]               0

 dense (Dense)               (None, 32)                320

 dense_1 (Dense)             (None, 1)                 33

=================================================================
Total params: 353
Trainable params: 353
Non-trainable params: 0
_________________________________________________________________

**Single Task ranker with Numerical + Categorical data**

In [42]:
numFeatures = ['nArticles','nDays','nPurchases','minPrice','maxPrice','meanPrice','nPGroups','nDept','nSect']
catFeatures = ['product_group_name']
X1 = np.asarray(trainDF[numFeatures].values)
X2 = np.asarray(trainDF[catFeatures].values)
y1 = np.asarray(trainDF['label1'].values)

inp1 = tf.keras.Input((len(numFeatures)))
inp2 = tf.keras.Input((len(catFeatures)), dtype=tf.string)

unique_product_groups = trainDF['product_group_name'].unique().astype(str)

x1 = tf.keras.layers.Dense(32, activation='relu')(inp1)
embedding_dimension=50
xx2 = tf.keras.layers.StringLookup(vocabulary=unique_product_groups, mask_token=None)(inp2)
xx2 = tf.keras.layers.Embedding(len(unique_product_groups) + 1, embedding_dimension)(xx2)
xx2 = tf.keras.layers.Flatten()(xx2)
x2 = tf.keras.layers.Dense(32, activation='relu')(xx2)

x12 = tf.keras.layers.concatenate([x1, x2])
x12 = tf.keras.layers.Dense(32, activation='relu')(x12)
out1 = tf.keras.layers.Dense(1, activation='sigmoid')(x12)
bce = tf.keras.losses.BinaryCrossentropy(from_logits=False)
metric = tf.keras.metrics.BinaryAccuracy()
m = tf.keras.Model([inp1, inp2], out1)
m.compile(loss=bce,
          optimizer='adam',
          metrics=[metric])

In [43]:
m.summary()

Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_3 (InputLayer)           [(None, 1)]          0           []

 string_lookup (StringLookup)   (None, 1)            0           ['input_3[0][0]']

 embedding (Embedding)          (None, 1, 50)        900         ['string_lookup[0][0]']

 input_2 (InputLayer)           [(None, 9)]          0           []

 flatten (Flatten)              (None, 50)           0           ['embedding[0][0]']

 dense_2 (Dense)                (None, 32)           320         ['input_2[0][0]']

 dense_3 (Dense)                (None, 32)           1632        ['flatten[0][0]']

 concatenate (Concatenate)      (None, 64)           0           ['dense_2[0][0]',
                                                                  'dense_3[0][0]']

 dense_4 (Dense)                (None, 32)           2080        ['concatenate[0][0]']

 dense_5 (Dense)                (None, 1)            33          ['dense_4[0][0]']

==================================================================================================
Total params: 4,965
Trainable params: 4,965
Non-trainable params: 0
__________________________________________________________________________________________________

In [44]:
m.fit([X1, X2], [y1], epochs=20, verbose=1, batch_size=1000)

Epoch 1/20
120/120 [==============================] - 1s 3ms/step - loss: 0.4657 - binary_accuracy: 0.7951
Epoch 2/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3822 - binary_accuracy: 0.8270
Epoch 3/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3742 - binary_accuracy: 0.8309
Epoch 4/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3703 - binary_accuracy: 0.8319
Epoch 5/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3683 - binary_accuracy: 0.8331
Epoch 6/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3687 - binary_accuracy: 0.8329
Epoch 7/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3673 - binary_accuracy: 0.8346
Epoch 8/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3653 - binary_accuracy: 0.8355
Epoch 9/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3646 - binary_accuracy: 0.8357
Epoch 10/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3627 - binary_accuracy: 0.8362
Epoch 11/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3624 - binary_accuracy: 0.8361
Epoch 12/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3614 - binary_accuracy: 0.8364
Epoch 13/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3612 - binary_accuracy: 0.8367
Epoch 14/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3593 - binary_accuracy: 0.8375
Epoch 15/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3593 - binary_accuracy: 0.8380
Epoch 16/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3589 - binary_accuracy: 0.8375
Epoch 17/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3577 - binary_accuracy: 0.8382
Epoch 18/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3565 - binary_accuracy: 0.8390
Epoch 19/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3560 - binary_accuracy: 0.8393
Epoch 20/20
120/120 [==============================] - 0s 3ms/step - loss: 0.3553 - binary_accuracy: 0.8389

### **From single to multi-task recommendation model**
We can now add another task to enrich the single task model to multi-task model. To do so, we first have to decide what the task 2 would be.

By looking at the data we have, we hypothesize that being able to predict whether or not a customer would purchase an article from certain product category would be a good learnt model to have. Indeed, being able to predict which category would the user purchase in would help us narrow down the list of recommendations we want to surface infront of users.

Based on this intuition, we want to develop a multi-task model with 2 tasks:
1. Task 1: predict whether or not a user would purchase an article
2. Task 2: predict whether or not a user would purchase any article from a given category

The training data we have created thus far is solely based on prediction task 1: predicting whether or not a user would purchase a given article. Corredpondingly, in trainDF dataframe we have collected positive and nagetive examples for this task, and have added a label1 column as the final label to train the model.

To develop a multi-task model for these two tasks, we will now need to add a label for the second task in the same dataset: trainDF. To do so, we will need to add a column: label2 to this dataframe -- for each row, we will need to identify whether the user has made any purchase in this category or not, and if the user has made a purchase in this category, then we will assign label2 = 1, else label2 = 0. Please note that for the same training example, it may happen that label1 = 0 but label2 = 1; this would happen in cases wherein the customer did not purchase this specific article but did purchase any other article from this category.

The goal for this project is to write the function that adds this label2 column to the trainDF dataframe, to enable us to train a multi-task model.

In [45]:
trainDF.head(5)

,customer_id,article_id,price,product_group_name,department_name,section_name,nArticles,nDays,nPurchases,minPrice,maxPrice,meanPrice,nPGroups,nDept,nSect,label1
0,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,855834001,0.015831,Garment Full body,Dresses,Divided Collection,6.0,4.0,6.0,0.010153,0.027102,0.01713,3.0,5.0,3.0,1
1,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,836130002,0.015831,Garment Full body,Dresses,Divided Collection,6.0,4.0,6.0,0.010153,0.027102,0.01713,3.0,5.0,3.0,1
2,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,808841001,0.016932,Garment Lower body,Skirts,Divided Collection,6.0,4.0,6.0,0.010153,0.027102,0.01713,3.0,5.0,3.0,1
3,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,817472002,0.010153,Garment Lower body,Shorts,Womens Everyday Collection,6.0,4.0,6.0,0.010153,0.027102,0.01713,3.0,5.0,3.0,1
4,0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...,806529003,0.027102,Garment Lower body,Trouser,Womens Tailoring,6.0,4.0,6.0,0.010153,0.027102,0.01713,3.0,5.0,3.0,1

In [46]:
# for the positive results we will get the 
pos = trainDF[trainDF["label1"] == 1].groupby("customer_id", as_index=False).department_name.agg(['unique']).reset_index()
pos.columns = ['customer_id', 'department_list']
customer_ids = pos.customer_id.unique().astype(str)
neg = trainDF[~(trainDF.customer_id.isin(customer_ids))].groupby("customer_id", as_index=False).department_name.agg(['unique']).reset_index()
neg.columns = ['customer_id', 'department_list']
neg["department_list"] = [[]]*len(neg)
user_dept_name_df = pd.concat([neg ,pos])

In [47]:
user_dept_name_df

,customer_id,department_list
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,[]
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,[]
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,[]
3,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,[]
4,0000757967448a6cb83efb3ea7a3fb9d418ac7adf2379d...,[]
...,...,...
2236,ffb981631c1090fae923f437f8b117dbe522e566f421b6...,"[Jersey fancy, Outwear, Denim Trousers, Hair A..."
2237,ffd5555bdaae5fffcb72cfb88c87620af3ffc5dc23749b...,"[Jersey fancy, Denim Trousers, Knitwear, Shorts]"
2238,ffd73eb4a891a7ea7d3b89bd088b054120d6479f48163d...,"[Jersey fancy, Blouse, Skirts, Sneakers, Hair ..."
2239,ffe15db74b66fe3a3fc91e4c89b09602888dcdaf8788e8...,"[Jersey fancy, Swimwear, Tops Knitwear, Shorts..."
2240,ffe8bb2b02a21532701d87dc050c6acb92088a87690078...,"[Jersey fancy, Trouser, Ladies Sport Bottoms, ..."

In [48]:
# for the positive results we will get the 
pos = testDF[testDF["label1"] == 1].groupby("customer_id", as_index=False).department_name.agg(['unique']).reset_index()
pos.columns = ['customer_id', 'department_list']
customer_ids = pos.customer_id.unique().astype(str)
neg = testDF[~(testDF.customer_id.isin(customer_ids))].groupby("customer_id", as_index=False).department_name.agg(['unique']).reset_index()
neg.columns = ['customer_id', 'department_list']
neg["department_list"] = [[]]*len(neg)
user_dept_name_df_test = pd.concat([neg ,pos])

In [49]:
user_dept_name_df_test

,customer_id,department_list
0,fbbbf1b5f25300bfe34c47623ded94d659b74898bf2b56...,[]
1,fbbbfb786c319dda49f16975698cb39ba8df46d6789255...,[]
2,fbbc2ab0cd29cca1dcd73284f2caacf43aea996c1baf72...,[]
3,fbbc7d8a6ece5633feb23acfab2958034ca129e231695b...,[]
4,fbbc7db35b97d55f9e98ad68a5d4c2e57cf1a2f0ba8e7a...,[]
...,...,...
5876,ffe9562f4a47a4c1d549bb9cab48c8c15299623fb109fd...,[Campaigns]
5877,fff69a9ce866cbde1b749376d30136edf14454a8a58cd0...,"[Young Boy UW/NW, Kids Boy Jersey Fancy]"
5878,fff6bd1afa9c1e0821ec1d146559d42a2d58364c1d2db1...,[Knitwear]
5879,fffb287f12aea1204e9eabd5e02eaf7f3ed5f9abecd9a4...,[Clean Lingerie]
5880,fffb6dda3fec0b5c58aae22a19c039e0087da6625b54aa...,[Men Sport Tops]

In [50]:
trainDF.label1.value_counts()

0    80000
1    40000
Name: label1, dtype: int64

In [51]:
print(f"Total unique customer in train: {len(set(trainDF['customer_id']))}")
print(f"Total unique customer in test: {len(set(testDF['customer_id']))}")
common_customers = set(trainDF['customer_id']).intersection(set(testDF['customer_id']))
print(f"Common cutomers in train and test : {len(common_customers)}")

Total unique customer in train: 42082
Total unique customer in test: 15793
Common cutomers in train and test : 458

In [52]:
trainDF["product_group_name"].value_counts()

Garment Upper body       45081
Garment Lower body       24456
Garment Full body        16442
Accessories               9895
Swimwear                  7894
Underwear                 7269
Shoes                     4439
Socks & Tights            2504
Nightwear                 1397
Unknown                    453
Bags                        58
Items                       48
Cosmetic                    29
Underwear/nightwear         13
Garment and Shoe care       13
Stationery                   8
Fun                          1
Name: product_group_name, dtype: int64

In [53]:
trainDF["product_group_name"].unique().astype(str)

array(['Garment Full body', 'Garment Lower body', 'Garment Upper body',
       'Swimwear', 'Underwear', 'Bags', 'Accessories', 'Unknown', 'Shoes',
       'Nightwear', 'Socks & Tights', 'Items', 'Cosmetic',
       'Underwear/nightwear', 'Garment and Shoe care', 'Fun',
       'Stationery'], dtype='<U21')

In [54]:
trainDF = pd.merge(trainDF, user_dept_name_df, on = 'customer_id', how = 'left')
testDF = pd.merge(testDF, user_dept_name_df_test, on = 'customer_id', how = 'left')

In [55]:
def add_label2_to_trainDF(train, test):
    """
    write code here to add a new column to trainDF
    the new column would be named label2 and it represents the label for the task 2
    
    After this function has been run, it can be safely assumed that trainDF dataframe contains another column called "label2"
    that describes the label for the second prediction task.
    """
    train["label2"] = train.apply(lambda x: 1 if x["department_name"] in x["department_list"] else 0, axis=1)
    test["label2"] = test.apply(lambda x: 1 if x["department_name"] in x["department_list"] else 0, axis=1)
    return train, test


trainDF, testDF = add_label2_to_trainDF(trainDF, testDF)

Now that we have both the label1 and label2 in our dataset, we can construct a simple multi-task model with shared bottom, which we call the common layers. Building on top of the common layers, we will have two separate modules: task1 layers and task2 layers. Layers of task 1 ("task1a" and "task1b") are dedicated to learning weights that help us perform better on task1. Correspondingly, layers of task 2 ("task2a" and "task2b") are dedicated to learning weights that help us perform better on task2.

Below we implement such a multi-task model.

In [56]:
embedding_dimension=50

numFeatures = ['nArticles','nDays','nPurchases','minPrice','maxPrice','meanPrice','nPGroups','nDept','nSect']
catFeatures = ['product_group_name']
X1 = np.asarray(trainDF[numFeatures].values)
y1 = np.asarray(trainDF['label1'].values)
y2 = np.asarray(trainDF['label2'].values) # replace label1 by label2 here

inp1 = tf.keras.Input((len(numFeatures)))

unique_article_ids = article_df.article_id.unique().astype(str)


common = tf.keras.layers.Dense(128, activation='relu',name="common1")(inp1)
common = tf.keras.layers.Dense(64, activation='relu',name="common2")(common)

x1 = tf.keras.layers.Dense(32, activation='relu',name="task1a")(common)
x1 = tf.keras.layers.Dense(16, activation='relu',name="task1b")(x1)
out1 = tf.keras.layers.Dense(1, activation='sigmoid',name="out1")(x1)

x2 = tf.keras.layers.Dense(32, activation='relu',name="task2a")(common)
x2 = tf.keras.layers.Dense(16, activation='relu',name="task2b")(x2)
out2 = tf.keras.layers.Dense(1, activation='sigmoid',name="out2")(x2)


bce = tf.keras.losses.BinaryCrossentropy(from_logits=False)
metric = tf.keras.metrics.BinaryAccuracy()
m2 = tf.keras.Model([inp1], [out1,out2])
m2.compile(loss=bce,
          optimizer='adam',
          metrics=[metric])


#m.evaluate([X1,X2], [y1])

In [57]:
m2.summary()

Model: "model_2"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_4 (InputLayer)           [(None, 9)]          0           []

 common1 (Dense)                (None, 128)          1280        ['input_4[0][0]']

 common2 (Dense)                (None, 64)           8256        ['common1[0][0]']

 task1a (Dense)                 (None, 32)           2080        ['common2[0][0]']

 task2a (Dense)                 (None, 32)           2080        ['common2[0][0]']

 task1b (Dense)                 (None, 16)           528         ['task1a[0][0]']

 task2b (Dense)                 (None, 16)           528         ['task2a[0][0]']

 out1 (Dense)                   (None, 1)            17          ['task1b[0][0]']

 out2 (Dense)                   (None, 1)            17          ['task2b[0][0]']

==================================================================================================
Total params: 14,786
Trainable params: 14,786
Non-trainable params: 0
__________________________________________________________________________________________________

In [58]:
m2.fit([X1], [y1,y2], epochs=20, verbose=1,batch_size=1000)

Epoch 1/20
120/120 [==============================] - 1s 4ms/step - loss: 1.0027 - out1_loss: 0.5034 - out2_loss: 0.4993 - out1_binary_accuracy: 0.7761 - out2_binary_accuracy: 0.7765
Epoch 2/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7727 - out1_loss: 0.3875 - out2_loss: 0.3852 - out1_binary_accuracy: 0.8255 - out2_binary_accuracy: 0.8265
Epoch 3/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7571 - out1_loss: 0.3791 - out2_loss: 0.3780 - out1_binary_accuracy: 0.8268 - out2_binary_accuracy: 0.8280
Epoch 4/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7538 - out1_loss: 0.3771 - out2_loss: 0.3766 - out1_binary_accuracy: 0.8284 - out2_binary_accuracy: 0.8288
Epoch 5/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7507 - out1_loss: 0.3757 - out2_loss: 0.3750 - out1_binary_accuracy: 0.8294 - out2_binary_accuracy: 0.8299
Epoch 6/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7487 - out1_loss: 0.3747 - out2_loss: 0.3739 - out1_binary_accuracy: 0.8296 - out2_binary_accuracy: 0.8299
Epoch 7/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7465 - out1_loss: 0.3737 - out2_loss: 0.3728 - out1_binary_accuracy: 0.8299 - out2_binary_accuracy: 0.8306
Epoch 8/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7452 - out1_loss: 0.3729 - out2_loss: 0.3723 - out1_binary_accuracy: 0.8299 - out2_binary_accuracy: 0.8303
Epoch 9/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7448 - out1_loss: 0.3726 - out2_loss: 0.3722 - out1_binary_accuracy: 0.8290 - out2_binary_accuracy: 0.8295
Epoch 10/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7426 - out1_loss: 0.3714 - out2_loss: 0.3712 - out1_binary_accuracy: 0.8300 - out2_binary_accuracy: 0.8305
Epoch 11/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7418 - out1_loss: 0.3711 - out2_loss: 0.3707 - out1_binary_accuracy: 0.8300 - out2_binary_accuracy: 0.8304
Epoch 12/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7410 - out1_loss: 0.3707 - out2_loss: 0.3703 - out1_binary_accuracy: 0.8304 - out2_binary_accuracy: 0.8303
Epoch 13/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7387 - out1_loss: 0.3694 - out2_loss: 0.3693 - out1_binary_accuracy: 0.8314 - out2_binary_accuracy: 0.8315
Epoch 14/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7393 - out1_loss: 0.3698 - out2_loss: 0.3695 - out1_binary_accuracy: 0.8309 - out2_binary_accuracy: 0.8312
Epoch 15/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7361 - out1_loss: 0.3682 - out2_loss: 0.3680 - out1_binary_accuracy: 0.8318 - out2_binary_accuracy: 0.8322
Epoch 16/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7359 - out1_loss: 0.3679 - out2_loss: 0.3680 - out1_binary_accuracy: 0.8326 - out2_binary_accuracy: 0.8327
Epoch 17/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7372 - out1_loss: 0.3686 - out2_loss: 0.3685 - out1_binary_accuracy: 0.8317 - out2_binary_accuracy: 0.8316
Epoch 18/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7364 - out1_loss: 0.3682 - out2_loss: 0.3681 - out1_binary_accuracy: 0.8317 - out2_binary_accuracy: 0.8319
Epoch 19/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7374 - out1_loss: 0.3687 - out2_loss: 0.3688 - out1_binary_accuracy: 0.8308 - out2_binary_accuracy: 0.8316
Epoch 20/20
120/120 [==============================] - 0s 4ms/step - loss: 0.7310 - out1_loss: 0.3654 - out2_loss: 0.3656 - out1_binary_accuracy: 0.8338 - out2_binary_accuracy: 0.8341

In [59]:
m2.evaluate([X1], [y1, y2])

3750/3750 [==============================] - 5s 1ms/step - loss: 0.7379 - out1_loss: 0.3708 - out2_loss: 0.3672 - out1_binary_accuracy: 0.8286 - out2_binary_accuracy: 0.8317

[0.737928032875061,
 0.37075865268707275,
 0.36717119812965393,
 0.8286166787147522,
 0.8316500186920166]

### Checkpoint & goals
By now you should have implemented the function **def add_label2_to_trainDF()** and replaced label1 in the above code by label2 and trained the multi-task model with these 2 tasks.

Please record the performance of both the single task model and multi-task model and provide your interpretation of the results

In [60]:
### Evaluating on test set

X1_test = np.asarray(testDF[numFeatures].values)
y1_test = np.asarray(testDF['label1'].values)
y2_test = np.asarray(testDF['label2'].values)


m2.evaluate([X1_test], [y1_test, y2_test])

938/938 [==============================] - 1s 1ms/step - loss: 4.4317 - out1_loss: 2.2491 - out2_loss: 2.1826 - out1_binary_accuracy: 0.6142 - out2_binary_accuracy: 0.6084

[4.431695938110352,
 2.249053955078125,
 2.1826446056365967,
 0.6141999959945679,
 0.6083999872207642]

# **Multi task with Num + Cat features**

In [61]:
numFeatures = ['nArticles','nDays','nPurchases','minPrice','maxPrice','meanPrice','nPGroups','nDept','nSect']
catFeatures = ['department_name']
X1 = np.asarray(trainDF[numFeatures].values)
X2 = trainDF[catFeatures].astype(str)
y1 = np.asarray(trainDF['label1'].values)
y2 = np.asarray(trainDF['label2'].values)

inp1 = tf.keras.Input((len(numFeatures)))
inp2 = tf.keras.Input((1,),dtype=tf.string)

unique_dept_names = trainDF["department_name"].unique().astype(str)

# num features
num = tf.keras.layers.Dense(32, activation='relu')(inp1)

# cat features
embedding_dimension=50
cat = tf.keras.layers.StringLookup(vocabulary=unique_dept_names, mask_token=None)(inp2)
cat = tf.keras.layers.Embedding(len(unique_dept_names) + 1, embedding_dimension)(cat)
cat = tf.keras.layers.Flatten()(cat)
cat = tf.keras.layers.Dense(32, activation='relu')(cat)


inp = tf.keras.layers.concatenate([num,cat])
common = tf.keras.layers.Dense(128, activation='relu',name="common1")(inp)
common = tf.keras.layers.Dense(64, activation='relu',name="common2")(common)

x1 = tf.keras.layers.Dense(32, activation='relu',name="task1a")(common)
x1 = tf.keras.layers.Dense(16, activation='relu',name="task1b")(x1)
out1 = tf.keras.layers.Dense(1, activation='sigmoid',name="out1")(x1)

x2 = tf.keras.layers.Dense(32, activation='relu',name="task2a")(common)
x2 = tf.keras.layers.Dense(16, activation='relu',name="task2b")(x2)
out2 = tf.keras.layers.Dense(1, activation='sigmoid',name="out2")(x2)


bce = tf.keras.losses.BinaryCrossentropy(from_logits=False)
metric = tf.keras.metrics.BinaryAccuracy()
m2 = tf.keras.Model([inp1, inp2], [out1,out2])
m2.compile(loss=bce,
          optimizer='adam',
          metrics=[metric])

m2.fit([X1, X2], [y1,y2], epochs=20, verbose=1,batch_size=1000)

Epoch 1/20
120/120 [==============================] - 2s 7ms/step - loss: 0.8947 - out1_loss: 0.4640 - out2_loss: 0.4308 - out1_binary_accuracy: 0.7955 - out2_binary_accuracy: 0.8071
Epoch 2/20
120/120 [==============================] - 1s 7ms/step - loss: 0.6265 - out1_loss: 0.3143 - out2_loss: 0.3122 - out1_binary_accuracy: 0.8603 - out2_binary_accuracy: 0.8598
Epoch 3/20
120/120 [==============================] - 1s 7ms/step - loss: 0.6145 - out1_loss: 0.3076 - out2_loss: 0.3069 - out1_binary_accuracy: 0.8630 - out2_binary_accuracy: 0.8628
Epoch 4/20
120/120 [==============================] - 1s 7ms/step - loss: 0.6079 - out1_loss: 0.3044 - out2_loss: 0.3036 - out1_binary_accuracy: 0.8643 - out2_binary_accuracy: 0.8646
Epoch 5/20
120/120 [==============================] - 1s 7ms/step - loss: 0.6020 - out1_loss: 0.3014 - out2_loss: 0.3005 - out1_binary_accuracy: 0.8648 - out2_binary_accuracy: 0.8653
Epoch 6/20
120/120 [==============================] - 1s 7ms/step - loss: 0.5986 - out1_loss: 0.2998 - out2_loss: 0.2988 - out1_binary_accuracy: 0.8651 - out2_binary_accuracy: 0.8659
Epoch 7/20
120/120 [==============================] - 1s 6ms/step - loss: 0.5955 - out1_loss: 0.2982 - out2_loss: 0.2974 - out1_binary_accuracy: 0.8661 - out2_binary_accuracy: 0.8667
Epoch 8/20
120/120 [==============================] - 1s 6ms/step - loss: 0.5943 - out1_loss: 0.2975 - out2_loss: 0.2968 - out1_binary_accuracy: 0.8666 - out2_binary_accuracy: 0.8669
Epoch 9/20
120/120 [==============================] - 1s 6ms/step - loss: 0.5914 - out1_loss: 0.2960 - out2_loss: 0.2954 - out1_binary_accuracy: 0.8671 - out2_binary_accuracy: 0.8675
Epoch 10/20
120/120 [==============================] - 1s 7ms/step - loss: 0.5884 - out1_loss: 0.2945 - out2_loss: 0.2939 - out1_binary_accuracy: 0.8677 - out2_binary_accuracy: 0.8682
Epoch 11/20
120/120 [==============================] - 1s 6ms/step - loss: 0.5883 - out1_loss: 0.2944 - out2_loss: 0.2939 - out1_binary_accuracy: 0.8673 - out2_binary_accuracy: 0.8678
Epoch 12/20
120/120 [==============================] - 1s 6ms/step - loss: 0.5871 - out1_loss: 0.2938 - out2_loss: 0.2934 - out1_binary_accuracy: 0.8683 - out2_binary_accuracy: 0.8684
Epoch 13/20
120/120 [==============================] - 1s 6ms/step - loss: 0.5839 - out1_loss: 0.2921 - out2_loss: 0.2918 - out1_binary_accuracy: 0.8690 - out2_binary_accuracy: 0.8690
Epoch 14/20
120/120 [==============================] - 1s 6ms/step - loss: 0.5839 - out1_loss: 0.2922 - out2_loss: 0.2918 - out1_binary_accuracy: 0.8691 - out2_binary_accuracy: 0.8691
Epoch 15/20
120/120 [==============================] - 1s 6ms/step - loss: 0.5816 - out1_loss: 0.2910 - out2_loss: 0.2906 - out1_binary_accuracy: 0.8693 - out2_binary_accuracy: 0.8697
Epoch 16/20
120/120 [==============================] - 1s 6ms/step - loss: 0.5797 - out1_loss: 0.2901 - out2_loss: 0.2896 - out1_binary_accuracy: 0.8694 - out2_binary_accuracy: 0.8699
Epoch 17/20
120/120 [==============================] - 1s 6ms/step - loss: 0.5767 - out1_loss: 0.2886 - out2_loss: 0.2881 - out1_binary_accuracy: 0.8702 - out2_binary_accuracy: 0.8705
Epoch 18/20
120/120 [==============================] - 1s 6ms/step - loss: 0.5757 - out1_loss: 0.2880 - out2_loss: 0.2876 - out1_binary_accuracy: 0.8708 - out2_binary_accuracy: 0.8709
Epoch 19/20
120/120 [==============================] - 1s 6ms/step - loss: 0.5748 - out1_loss: 0.2876 - out2_loss: 0.2872 - out1_binary_accuracy: 0.8706 - out2_binary_accuracy: 0.8705
Epoch 20/20
120/120 [==============================] - 1s 5ms/step - loss: 0.5739 - out1_loss: 0.2872 - out2_loss: 0.2867 - out1_binary_accuracy: 0.8710 - out2_binary_accuracy: 0.8714

In [62]:
m2.summary()

Model: "model_3"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_6 (InputLayer)           [(None, 1)]          0           []

 string_lookup_1 (StringLookup)  (None, 1)           0           ['input_6[0][0]']

 embedding_1 (Embedding)        (None, 1, 50)        11850       ['string_lookup_1[0][0]']

 input_5 (InputLayer)           [(None, 9)]          0           []

 flatten_1 (Flatten)            (None, 50)           0           ['embedding_1[0][0]']

 dense_6 (Dense)                (None, 32)           320         ['input_5[0][0]']

 dense_7 (Dense)                (None, 32)           1632        ['flatten_1[0][0]']

 concatenate_1 (Concatenate)    (None, 64)           0           ['dense_6[0][0]',
                                                                  'dense_7[0][0]']

 common1 (Dense)                (None, 128)          8320        ['concatenate_1[0][0]']

 common2 (Dense)                (None, 64)           8256        ['common1[0][0]']

 task1a (Dense)                 (None, 32)           2080        ['common2[0][0]']

 task2a (Dense)                 (None, 32)           2080        ['common2[0][0]']

 task1b (Dense)                 (None, 16)           528         ['task1a[0][0]']

 task2b (Dense)                 (None, 16)           528         ['task2a[0][0]']

 out1 (Dense)                   (None, 1)            17          ['task1b[0][0]']

 out2 (Dense)                   (None, 1)            17          ['task2b[0][0]']

==================================================================================================
Total params: 35,628
Trainable params: 35,628
Non-trainable params: 0
__________________________________________________________________________________________________

In [63]:
m2.evaluate([X1, X2], [y1, y2])

3750/3750 [==============================] - 6s 1ms/step - loss: 0.5682 - out1_loss: 0.2844 - out2_loss: 0.2838 - out1_binary_accuracy: 0.8717 - out2_binary_accuracy: 0.8726

[0.5682054162025452,
 0.2844138443470001,
 0.2837923765182495,
 0.8717333078384399,
 0.8725833296775818]

**Checkpoint & goals - Multi-task - Num + Categorical**

Here we are recording performance of Multi task model with Num and categorical features.

In [64]:
### Evaluating on test set

X1_test = np.asarray(testDF[numFeatures].values)
X2_test = testDF[catFeatures].astype(str)
y1_test = np.asarray(testDF['label1'].values)
y2_test = np.asarray(testDF['label2'].values)


m2.evaluate([X1_test, X2_test], [y1_test, y2_test])

938/938 [==============================] - 2s 1ms/step - loss: 7.0573 - out1_loss: 3.5212 - out2_loss: 3.5361 - out1_binary_accuracy: 0.5936 - out2_binary_accuracy: 0.5948

[7.057315826416016,
 3.521160840988159,
 3.536149263381958,
 0.5935666561126709,
 0.5948333144187927]

## Freezing layers for secondary tasks

Often when training a multi-task model, one needs to freeze parts of the nueral network and only train one specific task module, while keeping the weights of the other task module fixed. In Keras we can do this by freezing layers. The below example demonstrates how one could go about freezing layers in a neural network, and train only the trainable parts of a nueral network.

In [65]:
# lets print the training status of each layer of the models we have
for k,v in m2._get_trainable_state().items():
    print(k,v)

<keras.engine.functional.Functional object at 0x7f132c3d2d10> True
<keras.engine.input_layer.InputLayer object at 0x7f132c412790> True
<keras.layers.preprocessing.string_lookup.StringLookup object at 0x7f132c486c90> True
<keras.layers.core.embedding.Embedding object at 0x7f132c412f90> True
<keras.engine.input_layer.InputLayer object at 0x7f132c412710> True
<keras.layers.reshaping.flatten.Flatten object at 0x7f132c416950> True
<keras.layers.core.dense.Dense object at 0x7f132c486ad0> True
<keras.layers.core.dense.Dense object at 0x7f132c3a2710> True
<keras.layers.merging.concatenate.Concatenate object at 0x7f132c3abad0> True
<keras.layers.core.dense.Dense object at 0x7f132c4864d0> True
<keras.layers.core.dense.Dense object at 0x7f132c3ab810> True
<keras.layers.core.dense.Dense object at 0x7f132c3a2dd0> True
<keras.layers.core.dense.Dense object at 0x7f132c3c0a90> True
<keras.layers.core.dense.Dense object at 0x7f132c3c0890> True
<keras.layers.core.dense.Dense object at 0x7f132c3d2f10> True
<keras.layers.core.dense.Dense object at 0x7f133cc3a250> True
<keras.layers.core.dense.Dense object at 0x7f132c3d2c50> True

In [66]:
# Lets try to freeze layers for task 2 so that no training example affects the module dedicated to task 2
for layer in m2.layers:
    if layer.name in ["task2a","task2b"]:
        layer.trainable = False

In [67]:
for k,v in m2._get_trainable_state().items():
    print(k,v)

<keras.engine.functional.Functional object at 0x7f132c3d2d10> True
<keras.engine.input_layer.InputLayer object at 0x7f132c412790> True
<keras.layers.preprocessing.string_lookup.StringLookup object at 0x7f132c486c90> True
<keras.layers.core.embedding.Embedding object at 0x7f132c412f90> True
<keras.engine.input_layer.InputLayer object at 0x7f132c412710> True
<keras.layers.reshaping.flatten.Flatten object at 0x7f132c416950> True
<keras.layers.core.dense.Dense object at 0x7f132c486ad0> True
<keras.layers.core.dense.Dense object at 0x7f132c3a2710> True
<keras.layers.merging.concatenate.Concatenate object at 0x7f132c3abad0> True
<keras.layers.core.dense.Dense object at 0x7f132c4864d0> True
<keras.layers.core.dense.Dense object at 0x7f132c3ab810> True
<keras.layers.core.dense.Dense object at 0x7f132c3a2dd0> True
<keras.layers.core.dense.Dense object at 0x7f132c3c0a90> False
<keras.layers.core.dense.Dense object at 0x7f132c3c0890> True
<keras.layers.core.dense.Dense object at 0x7f132c3d2f10> False
<keras.layers.core.dense.Dense object at 0x7f133cc3a250> True
<keras.layers.core.dense.Dense object at 0x7f132c3d2c50> True

In [68]:
m2.compile(loss=bce,
          optimizer='adam',
          metrics=[metric])

m2.fit([X1, X2], [y1,y2], epochs=10, verbose=1,batch_size=1000)

Epoch 1/10
120/120 [==============================] - 2s 6ms/step - loss: 0.5735 - out1_loss: 0.2873 - out2_loss: 0.2862 - out1_binary_accuracy: 0.8706 - out2_binary_accuracy: 0.8712
Epoch 2/10
120/120 [==============================] - 1s 6ms/step - loss: 0.5697 - out1_loss: 0.2853 - out2_loss: 0.2845 - out1_binary_accuracy: 0.8719 - out2_binary_accuracy: 0.8724
Epoch 3/10
120/120 [==============================] - 1s 7ms/step - loss: 0.5679 - out1_loss: 0.2843 - out2_loss: 0.2836 - out1_binary_accuracy: 0.8723 - out2_binary_accuracy: 0.8728
Epoch 4/10
120/120 [==============================] - 1s 7ms/step - loss: 0.5658 - out1_loss: 0.2833 - out2_loss: 0.2825 - out1_binary_accuracy: 0.8730 - out2_binary_accuracy: 0.8733
Epoch 5/10
120/120 [==============================] - 1s 7ms/step - loss: 0.5641 - out1_loss: 0.2823 - out2_loss: 0.2817 - out1_binary_accuracy: 0.8732 - out2_binary_accuracy: 0.8735
Epoch 6/10
120/120 [==============================] - 1s 7ms/step - loss: 0.5623 - out1_loss: 0.2815 - out2_loss: 0.2809 - out1_binary_accuracy: 0.8734 - out2_binary_accuracy: 0.8735
Epoch 7/10
120/120 [==============================] - 1s 6ms/step - loss: 0.5619 - out1_loss: 0.2812 - out2_loss: 0.2806 - out1_binary_accuracy: 0.8737 - out2_binary_accuracy: 0.8743
Epoch 8/10
120/120 [==============================] - 1s 6ms/step - loss: 0.5604 - out1_loss: 0.2806 - out2_loss: 0.2798 - out1_binary_accuracy: 0.8739 - out2_binary_accuracy: 0.8745
Epoch 9/10
120/120 [==============================] - 1s 6ms/step - loss: 0.5565 - out1_loss: 0.2784 - out2_loss: 0.2781 - out1_binary_accuracy: 0.8750 - out2_binary_accuracy: 0.8749
Epoch 10/10
120/120 [==============================] - 1s 5ms/step - loss: 0.5556 - out1_loss: 0.2779 - out2_loss: 0.2777 - out1_binary_accuracy: 0.8751 - out2_binary_accuracy: 0.8751

## Tasks for Week 2 project:

So glad that you have made it this far!! The above gives a high level view on how one could train single, and multi-task models and how one could go about freezing layers and training parts of a multi-task network.

Lets re-iterate the main goal for this part of the project 2:

- Goal: Implement the function that assigns label2 to the trainDF dataframe, and run the single task and multi-tsk models without layer freezing. Once done, compare the performance metrics for task 1 from both these models. Comment on whether the addition of second task is adding value to predictive power of first task.

Optional: you can notice that we have used only numeric features in the model. Feel free to add other categorical features and re-train the model to see if the performance increases.

# Contextual Bandits for Recommendations

We can also use contextual bandits to produce personalized recommendations. Compared to multi-task recommenders, contextual bandits provide a balance between exploring new options and exploiting known information to find potential recommendations.

## Background: multi-arm bandits
The multi-armed bandit problem is an example of one-step reinforcement learning. To explore an example, lets assume we have a gambler who is provided a slot machine with multiple arms, each with its own unknown probability distribution of payouts. The objective is to pull the arms one-by-one in a sequence while gathering information in order to maximize the total payout over the long-run. The multi-armed bandit problem can be seen as a toy problem for reinforcement learning with one step rollout. Namely we have a game consisting of n rounds and in each round t:

1. Player selects one of K actions (think of slot machines and pulling their arms, hence the name).
2. Player gets reward of Rt . Each action i ‚àà {1,2,‚Ä¶,K } has a fixed, but unknown to the player, reward distribution Pi with the expected reward Œºi .
3. Given the history of actions and rewards Player updates their strategy.

Given the history of actions and rewards, the player updates their strategy. The goal of the player is to maximize the reward, which naturally has to be done by exploring new options (and thus learning about other machines' distributions) and exploiting known actions that proved to give high rewards so far. Mathematically the player wishes to minimize the regret.

## Contextual multi-arm bandits
The contextual bandit problem is a generalization of the multi-armed bandit that extends the model by making actions conditional on the state of the environment. Unlike the classical multi-armed bandit, it addresses the problem of identifying the most appropriate content given all relevant contextual signals.

1. Player gets context xt .
2. Player selects at ‚àà A .
3. Player gets reward Rt(at) .
4. Given the history of actions, rewards and contexts Player updates their strategy.

A common real-world contextual bandit example is a recommendation system. Given a set of presented articles, a reward is determined by the click-through behavior of the user. If user clicks on the article, a payout of 1 is incurred and 0 otherwise. Click-through-rate (CRT) is used to determine the selection and placement of ads within the recommendation application.


In explore phase the algorithm, given its internal estimates of goodness of each actions chooses the best possible action modulo exploration. For example, epsilon-greedy chooses the best action with probability (1‚àíœµ) and with probability œµ it selects uniformly one of all possible actions.

In the learning phase, the algorithm, after it selects an action and obtains a reward, updates its estimates of expected rewards of actions given the context. This is usually done via feeding a single example consisting of x,a,r (context, action, reward) to an estimator model doing a single update step (batch size 1). The learn phase is usually common for most algorithms and the main differences come from the exploration phase. Some algorithms include œµ-greedy, ensemble of policies or approximations to Lin-UCB. 
œµ-greedy tends to be a practical choice for initial experiments since it‚Äôs straightforward to understand and control its exploration.

## Dataset: R6A - Yahoo! Front Page Today Module User Click Log Dataset, version 1.0 (1.1 GB)

Our dataset contains a fraction of user click log for news articles displayed in the Featured Tab of the Today Module on Yahoo! Front Page (http://www.yahoo.com) during the first ten days in May 2009.  The articles were chosen uniformly at random from a hand-picked pool of high-quality articles, which allows one to use a recently developed method to obtain an unbiased evaluation of an arbitrary bandit algorithm.

The dataset contains 45,811,883 user visits to the Today Module.  For each visit, both the user and each of the candidate articles are
associated with a feature vector of dimension 6 (including a constant feature), constructed by conjoint analysis with a bilinear model.

This dataset contains 10 files, corresponding to the first 10 days in May 2009:
    ydata-fp-td-clicks-v1_0.20090501.gz
    ydata-fp-td-clicks-v1_0.20090502.gz
    ...
    ydata-fp-td-clicks-v1_0.20090510.gz
Each line in the files corresponds to a separate user visit.  An example line is as follows:

1241160900 109513 0 |user 2:0.000012 3:0.000000 4:0.000006 5:0.000023 6:0.999958 1:1.000000 |109498 2:0.306008 3:0.000450 4:0.077048 5:0.230439 6:0.386055 1:1.000000 |109509 2:0.306008 3:0.000450 4:0.077048 5:0.230439 6:0.386055 1:1.000000 [[...more article features omitted...]] |109453 2:0.421669 3:0.000011 4:0.010902 5:0.309585 6:0.257833 1:1.000000

which contains the following fields delimited with spaces:

    * timestamp: e.g., 1241160900
    * displayed_article_id: e.g., 109513
    * user_click (0 for no-click and 1 for click): e.g., 0
    * strings "|user" and "|{article_id}" indicate the start of user
      and article features
    * features are encoded as "feature_id:feature_value" pairs, and
      feature_id starts from 1.

The pool of available articles for recommendation for each user visit is the set of articles that appear in that line of data.  All user IDs (specifically, bcookies) are replaced by a common string 'user' so that no user information can be identified from this data.

Each user or article is associated with six features.  Feature #1 is the constant (always 1) feature, and features #2-6 correspond to the 5 membership features constructed via conjoint analysis with a bilinear model.

A unique property of this data set is that the displayed article is chosen uniformly at random from the candidate article pool.  Therefore, one can use an unbiased *offline* evaluation method to compare bandit algorithms in a reliable way.  Performance of some of the popular bandit algorithms can be found. We will cover the offline evaluation method in detail in week 4 of the course.

The full dataset can be downloaded from:
https://webscope.sandbox.yahoo.com/catalog.php?datatype=r&did=49
We are going to work with a much smalled sample of this data, which can be downloaded from the Google drive link (data1.txt):
https://drive.google.com/drive/folders/10LGZMgXRuz2qPr_QDbYdVVlKEcnQ25YL?usp=sharing

In [76]:
files = ("/content/drive/MyDrive/yahoo/data1.txt")

Now lets write a function to read this file, and store the data in articles / features / events -- which we will treat as global variables accessible to all functions later on.

In [77]:
import numpy as np
import fileinput

def read_data(filenames):
    """
    Reads a stream of events from the list of given files.
    
    Parameters
    ----------
    filenames : list
        List of filenames
    
    Stores
    -------    
    articles : [article_ids]
    features : [[article_1_features] .. [article_n_features]]
    events : [
                 0 : displayed_article_index (relative to the pool),
                 1 : user_click,
                 2 : [user_features],
                 3 : [pool_indexes]
             ]
    """

    global articles, features, events, n_arms, n_events
    articles = []
    features = []
    events = []

    skipped = 0

    with fileinput.input(files=filenames) as f:
        for line in f:
            cols = line.split()
            if (len(cols) - 10) % 7 != 0:
                skipped += 1
            else:
                pool_idx = []
                pool_ids = []
                for i in range(10, len(cols) - 6, 7):
                    id = cols[i][1:]
                    if id not in articles:
                        articles.append(id)
                        features.append([float(x[2:]) for x in cols[i + 1: i + 7]])
                    pool_idx.append(articles.index(id))
                    pool_ids.append(id)

                events.append(
                    [
                        pool_ids.index(cols[1]),
                        int(cols[2]),
                        [float(x[2:]) for x in cols[4:10]],
                        pool_idx,
                    ]
                )
    features = np.array(features)
    n_arms = len(articles)
    n_events = len(events)
    print(n_events, "events with", n_arms, "articles")
    if skipped != 0:
        print("Skipped events:", skipped)

Now lets read the file with the above defined function:

In [78]:
read_data(files)

100000 events with 21 articles

## œµ-greedy policy implementation
Having read the files, now lets implement a simple œµ-greedy method. Here œµ defines the amount of exploration we wish to perform, and for the remaining 1-œµ times the model prefers exploitation. By convention, ‚Äúepsilon‚Äù represents the percentage of time/trials dedicated for exploration, and it is also typical to do random exploration. This introduces some form of stochasticity.

The choose_arm function returns the best arm's index based on the œµ-greedy policy.
The update functiom updates algorithm's parameters(matrices) for the selected arm. It looks at the selected arm, updates the number of times this arm was chosen, and then it updates the mean reward observed for the selected arm.

In [79]:
class Egreedy:
    """
    Epsilon greedy algorithm implementation
    """

    def __init__(self, epsilon):
        """
        Parameters
        ----------
        epsilon : number (Egreedy parameter, ideally between 0 and 1)
        """

        self.e = round(epsilon, 1)  # epsilon parameter for Egreedy 
        self.algorithm = "Egreedy (Œµ=" + str(self.e) + ")"
        self.q = np.zeros(n_arms)  # average reward for each arm -- this represents the known mean reward for each arm
        self.n = np.zeros(n_arms)  # number of times each arm was chosen

    def choose_arm(self, t, user, pool_idx):
        """
        Returns the best arm's index relative to the pool
        Parameters
        ----------
        t : number (number of trial)
        user : array (user features)
        pool_idx : array of indexes (pool indexes for article identification)
        """

        p = np.random.rand()
        if p > self.e:
            return np.argmax(self.q[pool_idx])
        else:
            return np.random.randint(low=0, high=len(pool_idx))

    def update(self, displayed, reward, user, pool_idx):
        """
        Updates algorithm's parameters(matrices)
        Parameters
        ----------
        displayed : index (displayed article index relative to the pool)
        reward : binary (user clicked or not)
        user : array (user features)
        pool_idx : array of indexes (pool indexes for article identification)
        """

        a = pool_idx[displayed]
        
        # update counts pulled for chosen arm
        self.n[a] += 1
        
        # update average/mean value/reward for chosen arm
        self.q[a] += (reward - self.q[a]) / self.n[a]
        """
        this can also be written as:
        value = self.q[a]
        new_value = ((self.n[a]-1)/float(self.n[a])) * value + (1 / float(self.n[a])) * reward
        self.q[a] = new_value
        """

# Policy evaluation to evaluate contextual bandits

We base our evaluation on the seminal work on offline evaluation of bandits as presented in:
- [WSDM 2011] Unbiased Offline Evaluation of Contextual-bandit-based News Article Recommendation Algorithms
https://arxiv.org/pdf/1003.5956.pdf

Compared to machine learning in the more standard supervised learning setting, evaluation of methods in a contextual bandit setting is frustratingly difficult. Our goal here is to measure the performance of a bandit algorithm A, that is, a rule for selecting an arm at each time step based on the preceding interactions and current context.

We suppose that there is some unknown distribution D from which tuples are drawn i.i.d. of the form (x, r1, . . . , rK), each consisting of observed context and unobserved payoffs for all arms. We also posit access to a long sequence of logged events resulting from the interaction of the uniformly random logging policy with the world. Each such event consists of the context vector x, a selected arm a, and the resulting observed payoff ra. Crucially, this logged data is partially labeled in the sense that only the payoff ra is observed for the single arm a that was chosen uniformly at random.

Our goal is to use this data to evaluate a bandit algorithm A, which is a (possibly randomized) mapping for selecting the arm at at time t based on the history ht‚àí1 of t‚àí1 preceding events together with the current context. Therefore, the data serves as a benchmark, with which people can evaluate and compare different bandit algorithms.

![Screenshot 2022-07-20 at 08.20.01.png](attachment:00f73cf5-c0ce-46fa-9828-24b858b47ee6.png)

The policy evaluator is shown in Algorithm 1 above. The method takes as input a bandit algorithm A and a desired
number of ‚Äúvalid‚Äù events T on which to base the evaluation. We then step through the stream of logged events one by one. If, given the current history ht‚àí1, it happens that the policy A chooses the same arm a as the one that was selected by the logging policy, then the event is retained (that is, added to the history), and the total payoff updated. Otherwise, if the policy A selects a different arm from the one that was taken by the logging policy, then the event is entirely ignored, and the algorithm proceeds to the next event without any change in its state.

We next implement this evaluation function below.

In [80]:
import random
import time

def evaluate(A, size=100, learn_ratio = 0.9):
    """
    Policy evaluator as described in the paper
    Parameters
    ----------
    A : class (algorithm)
    size : number (run the evaluation only on a portion of the dataset)
    learn_ratio : number (perform learning(update parameters) only on a small portion of the traffic)
    Returns
    -------
    learn : array (contains the ctr for each trial for the learning bucket)
    deploy : array (contains the ctr for each trial for the deployment bucket)
    """
    
    start = time.time()
    # we initialize the payoff and events parameters separately for learning phase of the events and deployment phase of events.
    Payoff_deploy = 0 # total payoff for the deployment bucket
    Payoff_learn = 0  # total payoff for the learning bucket
    Events_deploy = 1 # counter of valid events for the deployment bucket
    Events_learn = 0  # counter of valid events for the learning bucket

    learn = []
    deploy = []
    global events
    if size != 100:
        k = int(n_events * size / 100)
        events = random.sample(events, k)

    """
    we run through the logged events, and treat each event either for learning & updating the parameters,
    or for deployment purposes wherein we use the reward obtained as evaluation metric
    """
    for t, event in enumerate(events):

        displayed = event[0]
        reward = event[1]
        user = event[2]
        pool_idx = event[3]

        # select the arm based on the bandit policy
        chosen = A.choose_arm(Payoff_learn + Payoff_deploy, user, pool_idx)
        
        """
        If, given the current history ht‚àí1, it happens that the policy A chooses the same arm a
        as the one that was selected by the logging policy, then the event is retained
        (that is, added to the history), and the total payoff updated.
        Otherwise, if the policy A selects a different arm from the one that was taken by the logging policy,
        then the event is entirely ignored, and the algorithm proceeds to the next event without any change in its state.
        """
        if chosen == displayed:
            if random.random() < learn_ratio:
                Payoff_learn += event[1]
                Events_learn += 1
                A.update(displayed, reward, user, pool_idx)
                learn.append(Payoff_learn / Events_learn)
            else:
                Payoff_deploy += event[1]
                Events_deploy += 1
                deploy.append(Payoff_deploy / Events_deploy)

    end = time.time()

    execution_time = round(end - start, 1)
    execution_time = (
        str(round(execution_time / 60, 1)) + "m"
        if execution_time > 60
        else str(execution_time) + "s"
    )
    print(
        "{:<20}{:<10}{}".format(
            A.algorithm, round(Payoff_deploy / Events_deploy, 4), execution_time
        )
    )

    return learn, deploy

Now lets run the evaluation method on the epsilon-greedy policy for different values of epsilon, and print the corresponding reward obtained during deployment phase of evaluation.
## Reward based evaluation

In [81]:
_, deploy = evaluate(Egreedy(0.1),learn_ratio=0.25)
rnd_ctr = deploy[-1]

_, deploy = evaluate(Egreedy(0.1),learn_ratio=0.5)
rnd_ctr = deploy[-1]

_, deploy = evaluate(Egreedy(0.1),learn_ratio=0.9)
rnd_ctr = deploy[-1]

_, deploy = evaluate(Egreedy(0.25),learn_ratio=0.5)
rnd_ctr = deploy[-1]

_, deploy = evaluate(Egreedy(0.5),learn_ratio=0.5)
rnd_ctr = deploy[-1]

_, deploy = evaluate(Egreedy(0.75),learn_ratio=0.5)
rnd_ctr = deploy[-1]

Egreedy (Œµ=0.1)     0.031     0.6s
Egreedy (Œµ=0.1)     0.0335    0.6s
Egreedy (Œµ=0.1)     0.0308    0.6s
Egreedy (Œµ=0.2)     0.0245    0.6s
Egreedy (Œµ=0.5)     0.0331    0.5s
Egreedy (Œµ=0.8)     0.0278    0.5s

# Goal 2: finish the implementation of UCB1 algorithm

## UCB-1 algorithm for arm selection

Epsilon greedy performs pretty well, but it‚Äôs easy to see how selecting arms at random can be inefficient. If you have one movie that 50% of users have liked, and another at 5% have liked, epsilon greedy is equally likely to pick either of these movies when exploring random arms. Upper Confidence Bound algorithms were introduced as a class of bandit algorithm that explores more efficiently.

Upper Confidence Bound algorithms construct a confidence interval of what each arm‚Äôs true performance might be, factoring in the uncertainty caused by variance in the data and the fact that we‚Äôre only able to observe a limited sample of pulls for any given arm. The algorithms then optimistically assume that each arm will perform as well as its upper confidence bound (UCB), selecting the arm with the highest UCB.

### Motivation behind UCB
Support an Artice A has been seen 100 times and has the best CTR. Article B has a slightly worse CTR than article A, but it hasn‚Äôt been seen by as many users, so there‚Äôs also more uncertainty about how well it‚Äôs going to perform in the long run. For this reason, it has a larger confidence bound, giving it a slightly higher UCB score than article A. Article C was published just moments ago, so almost no users have seen it. We‚Äôre extremely uncertain about how high its CTR will ultimately be, so its UCB is highest of all for now despite its initial CTR being low.

Over time, more users will see articles B and C, and their confidence bounds will become more narrow and look more like that of article A. As we learn more about B and C, we‚Äôll shift from exploration toward exploitation as the articles‚Äô confidence intervals collapse toward their means. Unless the CTR of article B or C improves, the bandit will quickly start to favor article A again as the other articles‚Äô confidence bounds shrink.

Let $n_t(a)$ be the number of times arm a is selected in rounds 1,2,‚Ä¶,t and $\mu_t(a)$ be the average reward of arm a up to time t. The upper confidence bound is defined as:

$UCB_t(a) = \mu_t(a)+ \sqrt{\frac{2 \log(t)}{ N_k(t)}}$


where $\mu_t(a)$ can be computed as `rewards[k] / pulls[k]` and the bound can be computed as `sqrt((2 * log(t)) / pulls[k]`.

The UCB1 algorithm chooses the best arm based on an optimistic estimate.

In [82]:
class Ucb1:
    def __init__(self, alpha):
        """
        Parameters
        ----------
        alpha : number (ucb parameter)
        """

        self.alpha = round(alpha, 1)
        self.algorithm = "UCB1 (Œ±=" + str(self.alpha) + ")"

        self.q = np.zeros(n_arms)  # average reward for each arm
        self.n = np.ones(n_arms)  # number of times each arm was chosen

    def choose_arm(self, t, user, pool_idx):
        """
        Returns the best arm's index relative to the pool
        Parameters
        ----------
        t : number (number of trial)
        user : array (user features)
        pool_idx : array of indexes (pool indexes for article identification)
        """
        
        ucbs = self.q[pool_idx] + np.sqrt(self.alpha * np.log(t+1)/self.n[pool_idx])
        return np.argmax(ucbs)

    def update(self, displayed, reward, user, pool_idx):
        """
        Updates algorithm's parameters(matrices)
        Parameters
        ----------
        displayed : index (displayed article index relative to the pool)
        reward : binary (user clicked or not)
        user : array (user features)
        pool_idx : array of indexes (pool indexes for article identification)
        """

        a = pool_idx[displayed]

        self.n[a] += 1
        self.q[a] += (reward - self.q[a]) / self.n[a]

One of the most important features of the UCB is that it not only exponentially decays as the number of pulls on the given machine increases, but also increases as the timestep increases. In other words, arms that have been explored less are given a boost even if their estimated mean is low, especially if we‚Äôve been playing for a while. In this way, the UCB1 algorithm is able to naturally define its own mix of exploration vs. exploitation without depending on a user supplied parameter like epsilon greedy.

### Goal 2 for this week's project
Finish the implementation of the UCB1 class above, and evaluate it for a set of parameters and compare its performance with respect to œµ-greedy policy.

In [84]:
_, deploy = evaluate(Ucb1(0.1))
rnd_ctr = deploy[-1]

_, deploy = evaluate(Ucb1(0.1))
rnd_ctr = deploy[-1]

_, deploy = evaluate(Ucb1(0.1))
rnd_ctr = deploy[-1]

_, deploy = evaluate(Ucb1(0.25))
rnd_ctr = deploy[-1]

_, deploy = evaluate(Ucb1(0.5))
rnd_ctr = deploy[-1]

_, deploy = evaluate(Ucb1(0.75))
rnd_ctr = deploy[-1]

UCB1 (Œ±=0.1)        0.0275    1.3s
UCB1 (Œ±=0.1)        0.0304    1.5s
UCB1 (Œ±=0.1)        0.0351    1.4s
UCB1 (Œ±=0.2)        0.0313    1.5s
UCB1 (Œ±=0.5)        0.024     1.4s
UCB1 (Œ±=0.8)        0.0392    1.4s